<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAge" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SelfService.MyAge/IAgeCheckerService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAge"
                contract="IAge" name="WSHttpBinding_IAge">
                <identity>
                    <userPrincipalName value="EMMY\Emmy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>